<ion-view view-title="Your Cellar">
  <ion-nav-buttons side="secondary">
    <button ui-sref="wines.create" class="button button-icon icon ion-plus"></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left">
        <img src="http://www.winexpert.com/content/533/vineyard_160x175.jpg">
        <h2>Pinot Grigio<span class="item-note">9/13/15</span></h2>
        <p><a ui-sref="/kits/wine-expert" class="button button-balanced button-outline button-small">Wine Expert</a></p>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
