<ion-view>
  <ion-nav-title>{{ wine.name }}</ion-nav-title>
  <ion-nav-buttons side="primary">
    <button ui-sref="wines.detail({id: wine.$id })" class="button button-icon icon ion-chevron-left"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">

      <label class="item item-input item-stacked-label">
        <span class="input-label">Add Note:</span>
        <textarea ng-model="note.message" type="text" rows="10" placeholder="{{ wine.name }} is..."></textarea>
      </label>

      <div class="item item-toggle">
         Log Event
         <label class="toggle toggle-calm">
           <input ng-model="event" type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </div>

      <div ng-if="event" class="item">

        <ion-radio ng-model="note.choice" ng-value="fermenting">Fermenting</ion-radio>
        <ion-radio ng-model="note.choice" ng-value="racking">Racking</ion-radio>
        <ion-radio ng-model="note.choice" ng-value="bottling">Bottling</ion-radio>

      </div>

      <div class="item item-toggle">
         Include Measurements?
         <label class="toggle toggle-calm">
           <input ng-model="note.measurements" type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </div>

      <div ng-if="note.measurements" class="item">

        <div class="item range">
          Specific Gravity
          <input ng-model="note.specific_gravity" type="range" name="specific_gravity">
        </div>

        <div class="item">
          Color:
          <input ng-model="note.color" type="text" name="color" placeholder="Bright ruby...">
        </div>

      </div>

      <div class="item">
        <button ng-click="createNote()" class="button button-block button-positive">
          Save Note
        </button>
      </div>

    </div>
  </ion-content>
</ion-view>
