<ion-view>
  <ion-nav-title>Edit: {{ wine.name }}</ion-nav-title>
  <ion-nav-buttons side="primary">
    <button ui-sref="wines.index" class="button button-icon icon ion-chevron-left"></button>
  </ion-nav-buttons>
  <ion-content>

    <!-- general wine information -->
    <div class="list card">

      <div class="item item-image">
        <img class="full-image" src="/img/blank_wine.png">
      </div>

      <div class="item item-divider text-center">
        <span ng-if="wine.stage === 'draft'" class="positive">Draft</span>
        <span ng-if="wine.stage !== 'draft'" class="balanced">Ready</span>
        &rsaquo;
        <span ng-class="{'positive': wine.stage === 'primary'}">Primary</span>
        &rsaquo;
        <span ng-class="{'positive': wine.stage === 'secondary'}">Secondary</span>
        &rsaquo;
        <span ng-class="{'positive': wine.stage === 'bottle'}">Bottle</span>
      </div>

      <label class="item item-input item-stacked-label">
        <span class="input-label"><small>Wine Name:</small></span>
        <input ng-model="wine.name" type="text" placeholder="My Big Cab" >
      </label>

      <!-- Kit Brand -->
      <label class="item item-input item-select">
        <div class="input-label">
          Wine Kit Brand:
        </div>
        <select ng-model="wine.kit.brand">
          <option>Wine Expert</option>
        </select>
      </label>

      <!-- Kit Product -->
      <label class="item item-input item-select">
        <div class="input-label">
          Wine Kit Product:
        </div>
        <select ng-change="updateNames()" ng-model="wine.kit.product">
          <option ng-repeat="product in filter.products">{{ product }}</option>
        </select>
      </label>

      <!-- Kit Name -->
      <label class="item item-input item-select">
        <div class="input-label">
          Wine Kit Name:
        </div>
        <select ng-model="wine.kit.id">
          <option ng-if="!filter.kits" value="{{ wine.kit.id }}">loading...</option>
          <option ng-repeat="kit in filter.kits" value="{{ kit.$id }}">{{ kit.name }}</option>
        </select>
      </label>

      <!-- Kit Varietal -->
      <!-- <label class="item item-input item-select">
        <div class="input-label">
          Varietal:
        </div>
        <select>
          <option ng-repeat="varietal in varietals">{{ varietal }}</option>
        </select>
      </label> -->

      <div class="item">
        <a ui-sref="wines.detail({id: wine.$id })" class="button button-block button-positive">Save Wine</a>
      </div>

    </div>

    <div class="card list">

      <div class="item">
        <a ng-click="deleteWine(wine.$id)" class="button button-block button-outline button-assertive icon-left ion-alert-circled">Delete Wine</a>
      </div>

    </div>

  </ion-content>
</ion-view>
