<ion-view view-title="Your Cellar" ng-controller="WinesCtrl">
  <ion-nav-buttons side="secondary">
    <button ng-click="openPopover($event)" class="button button-icon icon ion-plus"></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>

      <ion-item ng-click="openPopover($event)" class="item-thumbnail-left item-icon-right">
        <img src="/img/add_wine.png">
        <p><span ng-if="!wines.length > 0">You don't have any wines.</span>&nbsp;</p>
        <h2><strong>Add a New Wine</strong></h2>
        <i class="royal icon ion-arrow-up-a"></i>
      </ion-item>

      <ion-item ng-if="wines.length > 0" ng-repeat="wine in wines" class="item-thumbnail-left">
        <img src="{{ wine.image }}">
        <h2>{{ wine.name }}<span class="item-note">{{ wine.created_on }}</span></h2>
        <p><button ng-repeat="tag in wines.tags" class="button-outline button-small"></button></p>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
